.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: koulen;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.pageContent {
  padding-top: 45px;
}

.a {
  font-family: 'fira sans condensed';
  text-decoration: none;
}
.a:link {
  color: black;
}
.a:link,
.a:visited {
  color: black;
}
.a:hover{
  color: #FFD478;
}

/*Koulen Formatting*/
@font-face {
  font-family: 'koulen';
  letter-spacing: 0.09em;
  src: url('../public/GFonts/Koulen/Koulen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'fira sans condensed';
  src: url('../public/GFonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf') format('truetype');
}