.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: koulen;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*Koulen Formatting*/
@font-face {
  font-family: 'koulen';
  letter-spacing: 0.09em;
  src: url('../public/GFonts/Koulen/Koulen-Regular.ttf') format('truetype');
}